<footer class=" p-4">
    <div class="d-flex justify-content-left">
        <div class="logo">
                <img src="assets/images/TVS-Footer.png" alt="Logo" height="35px">
        </div>
    </div>
    <br>
    <br>
    <!-- <div class="d-flex justify-content-center">
        <div class="text-white d-flex justify-content-between mt-3">
            <h3>MOTORCYCLES | SCOOTERS | THREE WHEELERS | MOPEDS | ELECTRIC SCOOTERS</h3>
        </div>
    </div> -->
    <!-- <div class="container"> -->
    <div class="row" >
        <!-- Contact Information -->
        <div class="col-md-10">
            <h1>Reach Us</h1>
            <p><i class="fas fa-envelope"></i> &nbsp; <a href="mailto:customercare@tvsmotor.com">customercare@tvsmotor.com</a></p>
            <p><i class="fas fa-phone"></i> &nbsp;  18002587555</p>
        </div>

        <!-- //code to add connect app -->
        <!-- <div class="col-md-4 " >
            //<h3 class="d-flex justify-content-between">TVS CONNECT APP</h3>
            // <div class="download"> 
                <a rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.tvsm.connect&amp;hl=en" target="_blank">
                    <img alt="google play icon lazy" loading="lazy" src="assets/images/googleplaystore.png">
                </a>
                &nbsp;
                <a rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.tvsm.connect&amp;hl=en" target="_blank">
                    <img alt="google play icon lazy" loading="lazy" src="assets/images/applestore.png" height="38px" >
                </a>
            </div>

        </div> -->
      
        <!-- Social Media Links -->
        <div class="col-md-2">
            <h1>Follow Us</h1>
            <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Ftvsmotorcompany%2F" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/tvsmotorcompany/" class="text-white mr-3"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/tvsmotorcompany" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCmXFdsJtTAbbYrH7zz-lkkw" class="text-white mr-3"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/tvs-motor-company/mycompany/verification/" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="d-flex justify-content-center">
        <p>© TVS Motor Company. All rights reserved. </p>
        <p>&nbsp;&nbsp; <a href="https://www.tvsmotor.com/privacy-policy">Privacy Policy</a> | <a href="https://www.tvsmotor.com/disclaimer">Disclaimer</a></p>
      </div> -->
      <div class="footer-details d-flex justify-content-center">
        <p>© TVS Motor Company. All rights reserved. </p>
        <p>&nbsp;&nbsp; <a href="https://www.tvsmotor.com/privacy-policy">Privacy Policy</a> | <a href="https://www.tvsmotor.com/disclaimer">Disclaimer</a></p>
      </div>
      
</footer>
      

    