<div class="header navbar">
    <div class="logo">
        <img src="assets/images/TVS-Motor-Company.png" alt="Logo" height="80px">
      </div>
    <!-- <div class="text-white d-flex justify-content-between mt-3">
        <h1>Sales Hierarchy Portal</h1>
    </div> -->
    <div class="right-links">
      <!-- <a routerLink="/" class="mr-3 text-white">Home</a> -->
      <a routerLink="/main-page" class="mr-3 text-black">HOME</a>
      <a routerLink="/about" class="mr-3 text-black">ABOUT</a>
      <a routerLink="/contact" class="mr-3 text-black">CONTACT</a>
    </div>
  </div>