<h1 class="text-black font-weight-bold mt-3 text-center">Hierarchy Portal</h1>
<app-moving-image></app-moving-image>

<br>

<!-- website-blocks.component.html -->
  
<!-- <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary" [routerLink]="['/dealer-add']">Add Dealer Page</button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" [routerLink]="['/dealer-viewlist']">View Dealer Details Page</button>
      </div>
</div> -->
<br>
<br>
<!-- <div class="container logo">
    <div class="d-flex justify-content-center">
        <h2>Our Services</h2>
    </div>

    <div class="d-flex justify-content-center">
        <h3>MOTORCYCLES | SCOOTERS | THREE WHEELERS | MOPEDS | ELECTRIC SCOOTERS | SPARE PARTS</h3>
    </div>

    <div class="row">
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/bike.png" alt="bike" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/scooter.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/autologo.png" alt="rickshaw" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/Moped.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/electricscooter.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/spare.png" alt="spare" class="img-fluid rounded-circle">
        </div>
    </div>
</div> -->

<!-- website-blocks.component.html -->

<div class="container mt-4">
    <div class="row align-items-stretch">
      <div class="col-md-3 d-flex">
        <div class="card flex-fill d-flex flex-column">
          <!-- <div class="card-body" (click)="redirectTo('https://www.example1.com')"> -->
            <!-- <h5 class="card-title">Website 1</h5> -->
            <img src="assets/images/salestvs.cms" alt="Sales Hierarchy Portal Image" class="img-fluid">
            <h3 class="text-center font-weight-bold">Sales Hierarchy Portal</h3>
            <p class="card-text"> The sales hierarchy portal is an intuitive online platform designed to streamline sales management processes, providing hierarchical insight and facilitating efficient communication across sales teams.</p>
            <br>
            <button class="btn text-white" [routerLink]="['/dealer-home']">Open</button>
          <!-- </div> -->
        </div>
      </div>
  
      <div class="col-md-3 d-flex">
        <div class="card flex-fill d-flex flex-column">
          <!-- <div class="card-body" (click)="redirectTo('https://www.example2.com')"> -->
            <!-- <h5 class="card-title">Website 2</h5> -->
            <img src="assets/images/servicetvs.jpeg" alt="Service Hierarchy Portal Image" class="img-fluid">
            <h3 class="text-center font-weight-bold">Service Hierarchy Portal</h3>
            <p class="card-text">The service hierarchy portal provides a centralized platform for managing and visualizing the hierarchical structure of services within an organization, facilitating efficient organization and oversight of service-related operations.</p>
            <br>
            <button class="btn text-white" [routerLink]="['/dealer-home']">Open</button>
          <!-- </div> -->
        </div>
      </div>
  
      <div class="col-md-3 d-flex">
        <div class="card flex-fill d-flex flex-column">
          <!-- <div class="card-body" (click)="redirectTo('https://www.example3.com')"> -->
            <!-- <h5 class="card-title">Website 3</h5> -->
            <img src="assets/images/partstvs.jpeg" alt="Parts Hierarchy Portal Image" class="img-fluid">
            <h3 class="text-center font-weight-bold">Parts Hierarchy Portal</h3>
            <p class="card-text">The parts hierarchy portal provides a comprehensive and structured view of the organizational layout and relationships among various components within a system or organization.</p>
            <br>
            <button class="btn text-white" [routerLink]="['/dealer-home']">Open</button>
          <!-- </div> -->
        </div>
      </div>
  
      <div class="col-md-3 d-flex">
        <div class="card flex-fill d-flex flex-column">
          <!-- <div class="card-body" (click)="redirectTo('https://www.example4.com')"> -->
            <!-- <h5 class="card-title">Website 4</h5> -->
            <img src="assets/images/evtvs.webp" alt="EV Hierarchy Portal Image" class="img-fluid">
            <h3 class="text-center font-weight-bold">EV Hierarchy Portal</h3>
            <p class="card-text">The EV Hierarchy Portal is an online platform designed to streamline and manage the hierarchical structure within electric vehicle organizations, facilitating efficient communication and collaboration across various levels of management and departments.</p>
            <button class="btn text-white" [routerLink]="['/dealer-home']">Open</button>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  
<br>


