<!-- Slideshow container -->
<div class="slideshow-container d-flex justify-content-center w-100">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <img src="assets/images/TVS-Jupiter125.webp"  alt="TVS Jupiter">
    </div>
  
    <div class="mySlides">
      <img src="assets/images/TVS-Raider.webp" alt="TVS Raider">
    </div>
  
    <div class="mySlides">
      <img src="assets/images/TVS-JupiterZX.webp"  alt="TVS Jupiter ZX">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-Ronin.webp" alt="TVS Ronin">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-Sport.webp" alt="TVS Sport">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-NTorq.webp" alt="N Torq 125">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-X.webp" alt="TVS X">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-Radeon.webp" alt="TVS Radeon">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-RR310.webp" alt="TVS RR 310">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-RTR310.webp" alt="TVS RTR310">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-IQube.webp" alt="TVS I Qube">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-XL.webp" alt="TVS XL">
    </div>

    <div class="mySlides">
        <img src="assets/images/TVS-UrbanWear.webp"  alt="TVS Urban Wear">
    </div>
  
    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  