<h1 class="text-black font-weight-bold mt-3 text-center">Sales Hierarchy Portal</h1>
<app-moving-image></app-moving-image>

<br>

<!-- website-blocks.component.html -->

<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-body" >
            <!-- <h5 class="card-title">Website 1</h5>
            <p class="card-text">Click to visit Website 1</p> -->
            <button type="button" class="btn text-white w-100" [routerLink]="['/dealer-add']">Add Dealer</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" >
            <!-- <h5 class="card-title">Website 2</h5>
            <p class="card-text">Click to visit Website 2</p> -->
            <button type="button" class="btn text-white w-100" [routerLink]="['/dealer-viewlist']">View Dealer Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary" [routerLink]="['/dealer-add']">Add Dealer Page</button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" [routerLink]="['/dealer-viewlist']">View Dealer Details Page</button>
      </div>
</div> -->
<br>
<br>
<!-- <div class="container logo">
    <div class="d-flex justify-content-center">
        <h2>Our Services</h2>
    </div>

    <div class="d-flex justify-content-center">
        <h3>MOTORCYCLES | SCOOTERS | THREE WHEELERS | MOPEDS | ELECTRIC SCOOTERS | SPARE PARTS</h3>
    </div>

    <div class="row">
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/bike.png" alt="bike" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/scooter.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/autologo.png" alt="rickshaw" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/Moped.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/electricscooter.png" alt="scooter" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-3 rounded-circle-container">
            <img src="assets/images/spare.png" alt="spare" class="img-fluid rounded-circle">
        </div>
    </div>
</div> -->
<br>

